// BS4 Variables
$enable-shadows: true;
$enable-gradients: true;
$body-color: #091C2F;

// Theme colors
$primary: #a40000;
$secondary: #0F4C5C;
$success: #005F3F;
$info: #53A2BE;
$warning: #5F0F40;
$danger: #850000;
//$light: #dfe6ee;
//$dark: #0f1319;


// Custom 

// Fonts stylesheets
// Called Stylesheets
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

// Fonts
$josefin-slab: 'Josefin Slab', serif;
$sacramento: 'Sacramento', cursive;
$nanum-gothic: 'Nanum Gothic', sans-serif;


