// Custom Scss

body {
  font-family: $nanum-gothic;

  nav.navbar {
    //@include gradient-y-three-colors;
    .navbar-brand {
      font-family: Sacramento, cursive;
      font-size: 2em;
    }

    .nav-link {
      @include navlink;
    }

    button.btn.btn-primary {
      border: 1px solid $primary;
      @include buttonstyle;
    }
  }

  div#jumbotron-main {
    background: url(../img/easter-seals.jpg)no-repeat center;
   bottom: 0;
    background-size: cover;
    height: 80vh;
    padding: 5rem;
    @include media-breakpoint-up(md) {
      height: 90vh;
    }
    div.text-white, button.btn a {
      color: $white;
    @include media-breakpoint-up(md) {
      padding-top: 15vh;
    } 
  }
  }

  div#sacapex-info {
    .card {
      a {
        text-decoration: none;

        .card-header {
          background: #53A2BE;
          color: #fff;

        }
      }

      div.panel {
        div#dealer-table {
          max-height: 40vh;
          overflow: hidden;
          overflow-y: scroll;
        }
      }
    }
  }

  div#newsletter-form {
    background: $secondary;
  }

  div#membership-info {
    a.btn.btn-primary {
      @include buttonstyle;
    }
  }

  div#events {
    background: $secondary;
  }

  div#our-history {
    background: linear-gradient(to bottom, #d7d7d7, #fff);

    button.btn.btn-primary {
      @include buttonstyle;
    }
  }

  footer#sps-footer {

    a.nav-link {
      color: $white;
      @include navlink;
    }
  }
}

// exhibitor info page


div#exhibitor-form-container {
  background-image: linear-gradient($light, $info);
  form.form {
    margin: 0 5rem;
    button {
      @include buttonstyle;
      margin: 0 0 1rem 1rem;
    }
  }
}



/*



form#exhibForm {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f9fa), color-stop(#53A2BE), to(#f8f9fa));
  background-image: linear-gradient(#f8f9fa, #53A2BE, #f8f9fa);

  button.btn.btn-primary:hover {
    -webkit-transition: background-color 1s ease;
    transition: background-color 1s ease;
    color: #a40000;
    background: #fff;
  }
}

#form-success {
  display: none;
}



    &:hover {
      -webkit-transition: background-color 1s ease;
      transition: background-color 1s ease;
      color: #a40000;
      background: #fff;
    }
  }
}

// exhibitor info page

form.form {
  background-image: linear-gradient($light, $info);
}
*/