@mixin buttonstyle {
  border: 1px solid #a40000;
  &:hover {
    -webkit-transition: ease 1s background-color;
    transition: ease 1s background-color;
    background: $white;
    color: $primary;
    border: 1px solid $primary;
  }
}