<div id="easterseals" class="container">
  <h1>Easter Seals Benefit Stamp Show</h1>
  <p>Millions of stamps at the 2<span>&cent;</span> tables</p>
  <p>All sales generate dollars to the Easter Seals Socity</p>
  <div id="es-dates" class="row">
    <p class="col">Saturday, April 13, 2019<br>10am to 6pm</p>
    <p class="col">Saturday, April 14, 2019<br>10am to 4pm</p>
  </div>
  <div>
    <p>10 Bourse Dealers</p>
    <p>Hourly Door Prizes</p>
  </div>
  <p>Meetings</p>
  <div>
    <p>CAL Revenue<br>Saturday 1pm - 3pm</p>
    <p>Precancel/Perfin Group<br>Saturday 1pm - 3pm</p>
  </div>
  <div>
    <a href="" class="btn btn-sm btn-info">Download Drawing Entry</a>
    <a href="mailto:" class="btn btn-sm btn-info">Contact for more info</a>
  </div>
</div>