<footer class="footer" id="sps-footer">
  <div class="container">
    <div id="footer-flow">
      <div id="footer-logo">
        <a class="navbar navbar-brand"
          ><img
            class="img-fluid"
            src="./assets/img/sps-logo-dark-bg.png"
            height="120"
            width="240"
            alt=""
        /></a>
        <p>Sacramento's Stamp Club since 1914</p>
      </div>
      <div id="contact">
        <p class="h3">Contact Us</p>
        <form action="https://formspree.io/joannebe@pacbell.net" method="POST">
          <fieldset class="form-group">
            <input
              class="form-control"
              id="InputEmailFooter"
              name="_replyto"
              placeholder="name@email.com"
              type="email"
            />
          </fieldset>

          <fieldset class="form-group">
            <textarea
              class="form-control"
              id="messageFromFooter"
              name="_"
              placeholder="Please enter your message here"
            ></textarea>
          </fieldset>

          <fieldset class="form-group text-xs-right">
            <button class="btn btn-primary btn-lg" type="submit" value="Send ">
              Send
            </button>
          </fieldset>
        </form>
      </div>
    </div>
    <nav class="nav">
      <a class="nav-link" href="./aboutus.html">Our Members</a>
      <a class="nav-link" href="./sacapex-exhibitor-info.html"
        >Exhibitor Info</a
      >
      <a class="nav-link" download="spsScholarshipForm" href="">Membership</a>
      <a class="nav-link" download="spsBylaws" href="">By-Laws</a>
      <a class="nav-link disabled" href=""
        >Newsletter Archives<span class="text-muted"
          ><small> Coming Soon</small></span
        ></a
      >
    </nav>
  </div>
  <p>Sacramento Philatelic Society &copy; 2019, All Rights Reserved</p>
  <p><a href="http://">Privacy Policy</a> <a href="http://">Sitemap</a></p>
  <hr />
  <p class="tmd">Crafted with Care by Thoughtful Monkey Designs</p>
</footer>
