<footer class="footer" id="sps-footer">
    <div class="container">
          <a class="navbar navbar-brand"><img class="img-fluid" src="./assets/img/sps-logo-dark-bg.png" height="120"
              width="240" alt="" /></a>

          <p>Sacramento's Stamp Club since 1914</p>
        <div id="contact">
          <p class="h4">Contact Us</p>
          <form action="https://formspree.io/joannebe@pacbell.net" method="POST">
            <fieldset class="form-group">
              <input class="form-control" id="InputEmailFooter" name="_replyto" placeholder="name@email.com" type="email" />
            </fieldset>

            <fieldset class="form-group">
              <textarea class="form-control" id="messageFromFooter" name="_" placeholder="Please enter your message here"></textarea>
            </fieldset>

            <fieldset class="form-group text-xs-right">
              <button class="btn btn-primary btn-lg" type="submit" value="Send ">
                Send
              </button>
            </fieldset>
          </form>
        </div>
      
      <nav class="nav">
        <a class="nav-link" href="./aboutus.html"> Our Members</a>
        <a class="nav-link" href="./sacapex-exhibitor-info.html">Exhibitor Info</a>
        <a class="nav-link" download="spsScholarshipForm" href="">Membership</a>
        <a class="nav-link" download="spsBylaws" href="">By-Laws</a>
        <a class="nav-link disabled" href="">Newsletter Archives<span class="text-muted"><small> Coming Soon</small></span></a>
      </nav>
    </div>
  </footer>