// Custom Scss

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $nanum-gothic;
  //wid
}
.navbar {
  .navbar-brand {
    font-family: $sacramento;
    font-size: 2em; 
  }
      
  .nav-link {
    font-family: $josefin-slab;
    font-size: 1.5em;
    color: $white;
    border-bottom: 2px transparent solid;
    &:hover {
      border-bottom: 2px $white solid;
      transition: border 1s ease;
    }
  }
  a > .btn {
      &:hover {
        transition: background 1s ease;
      }
    }
  }  

  // Jumbotron   
#jumbotronMain {
    background-image: url('/assets/stampJumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  #jumboGradient {
    background: rgba(265,265,265,0.6);
  }
  a.btn {
    background: $primary;
    padding: 1rem;
    transition: .5s ease-out;
    &:hover {
      color: $primary;
      background-color: $light;
      transition: .5s ease-out;
  }
  }
}

#newsletterForm {
  button {
    &:hover {
      background: #fff;
      transition: background 1s ease;
    }
  }
}

     
#sacapexInfo {
  a {
    text-decoration: none;
  }
  .card-header {
    background: $info;
    color: #fff;
    &:hover {
      transition: ease 1s background-color;
      background: #fff;
      color: $success;
      border: solid 1px $success;
    }
  }
    .card {
      background: $gray-400;
      .panel {
        padding: 0 5px;
      }
    }
    
  #dealerTable {
    max-height: 400px;
    overflow-y: scroll;
    }
  }

// SPS History
#ourHistory {
  background: linear-gradient(to bottom, #d7d7d7, #fff)
}

#footer {
  a > .btn{
    &:hover {
    background: #fff;
    transition: background 1s ease;
  }
}
}
// Custom Globals   

.sacramento {
  font-family: $sacramento; 
}

.nanum-gothic {
  font-family: $nanum-gothic; 
}

.josefin-slab {
  font-family: $josefin-slab;
  }

.btn-primary {
  border: 1px solid $primary;
    &:hover {
      transition: background-color 1s ease;
      color: $primary;
      background: #fff;
      }
    }


// exhibitor info page

form.form {
  background-image: linear-gradient($light, $info);
}
