// Custom Scss

body {
  font-family: $nanum-gothic;

  nav.navbar {
    //@include gradient-y-three-colors;
    .navbar-brand {
      font-family: Sacramento, cursive;
      font-size: 2em;
    }

    .nav-link {
      @include navlink;
    }

    button.btn.btn-primary {
      border: 1px solid $primary;
      @include buttonstyle;
    }
  }

  div#jumbotron-main {
    background: url(../img/fall-leaves.jpg) no-repeat center;
    bottom: 0;
    background-size: cover;
    height: 80vh;
    padding: 1rem;


    @include media-breakpoint-up(md) {
      height: 90vh;
    }

    div.text-dark,
    button.btn a {
      // color: $dark;
      text-shadow: 3px 5px 8px grey;

      @include media-breakpoint-up(md) {
        padding-top: 15vh;
      }
    }
  }

  div#sacapex-info {
    padding: 1rem;

    hr {
      border-bottom: 5px solid $secondary;
      border-radius: 5px;
    }

    .card {
      a {
        text-decoration: none;

        .card-header {
          background: #53a2be;
          color: #fff;
        }
      }

      div.panel {
        padding: 0 1.5rem;

        div#dealer-table {
          max-height: 40vh;
          overflow: hidden;
          overflow-y: scroll;
        }
      }
    }
  }

  div#newsletter-form {
    background: $secondary;
    color: $light;
    text-align: center;
    padding: 1rem;

    @include media-breakpoint-up(md) {
      padding: 1rem 10rem;
    }

    @include media-breakpoint-up(lg) {
      padding: 1rem 15rem;
    }

    @include media-breakpoint-up(xl) {
      padding: 1rem 20rem;
    }
  }

  div#membership-info {
    padding: 1rem;

    a.btn.btn-primary {
      @include buttonstyle;
    }
  }

  div#events {
    padding: 1rem;
    background: $secondary;
    color: $light;

    @include media-breakpoint-up(md) {
      padding: 3rem;
    }

    @include media-breakpoint-up(lg) {
      padding: 5rem 10rem;
    }
  }

  div#our-history {
    background: linear-gradient(to bottom, #d7d7d7, #fff);
    padding: 1rem;

    @include media-breakpoint-up(md) {
      padding: 3rem;
    }

    button.btn.btn-secondary {
      @include buttonstyle;
      margin-bottom: 1rem;
    }

    img.img-fluid {
      float: right;
      margin-left: 3rem;

      @include media-breakpoint-up(md) {
        max-width: 40vw;
      }

      @include media-breakpoint-up(lg) {
        max-width: 30vw;
      }
    }
  }

  footer#sps-footer {
    width: 100vw;
    padding: 1rem;
    background: $dark;
    color: $light;

    div#footer-flow {
      @include media-breakpoint-up(md) {
        display: flex;
        flex: auto;
        justify-content: space-between;
      }

      div#contact {
        width: 50%;
      }
    }

    nav {
      display: flex;
      flex: auto;
      justify-content: center;
      text-align: center;

      a.nav-link {
        color: $white;
        @include navlink;
        font-size: 1rem;
      }
    }

    p {
      font-size: 0.75rem;
      padding: 0 auto;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.tmd {
  font-size: 0.5rem;
}

// exhibitor info page

div#exhibitor-form-container {
  background-image: linear-gradient($light, $info);

  form.form {
    margin: 0 1rem;

    button {
      @include buttonstyle;
      margin: 0 0 1rem 1rem;
    }
  }
}

div#easterseals {
  text-align: center;
}
