@mixin buttonstyle {
  border: 1px solid #a40000;
  &:hover {
    -webkit-transition: ease 1s background-color;
    transition: ease 1s background-color;
    background: $white;
    color: $primary;
    border: 1px solid $primary;
  }
}

@mixin navlink {
  font-family: "Josefin Slab", serif;
  font-size: 1.5em;
  color: #fff;
  border-bottom: 2px transparent solid;

  &:hover {
    border-bottom: 2px #fff solid;
    transition: border 1s ease;
  }  
}